<title>New Game</title>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<script src="/static/jquery-1.6.4.js"></script>
<div id="gamechoice">
  <form action="/newgame" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  </form>
</div>
  <div id="innernewgame"/>
<script type="text/javascript">
$(document).ready(function() {
  $('#id_gamechoice').change(function() {
    if ($(this).val() !== '') { //don't load the div if the user chooses the first element
      $('div#innernewgame').load($(this).val());
    }
  });
});</script>
